.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stylesheet-view {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 0;
  gap: 0;
  margin: 2rem;
  padding: 0.5rem;
  gap: 0.5rem;
}
.stylesheet-view>style {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1rem;
  text-align: start;
  margin: 0;
  padding: 0.5rem;
  animation: 1000ms ease flashing;
}
.stylesheet-view>style:nth-child(1n) {
  background: hsl(0, 50%, 85%);
}
.stylesheet-view>style:nth-child(2n) {
  background: hsl(46, 50%, 85%);
}
.stylesheet-view>style:nth-child(3n) {
  background: hsl(101, 50%, 85%);
}
.stylesheet-view>style:nth-child(4n) {
  background: hsl(175, 50%, 85%);
}
.stylesheet-view>style:nth-child(5n) {
  background: hsl(277, 50%, 85%);
}

@keyframes flashing {
  0% {
    filter: saturate(1);
    transform: scale(1);
  }
  30% {
    filter: saturate(10);
    transform: scale(1.03);
  }
  100% {
    filter: saturate(1);
    transform: scale(1);
  }
}